@reference "../../../app/globals.css";

@property --border-rotation {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@keyframes borderRotation {
  from {
    --border-rotation: 0deg;
  }

  to {
    --border-rotation: 360deg;
  }
}

.wrapper {
  @apply rounded-2xl cursor-pointer;
  @apply p-4;

  padding: 21px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  position: relative;
  background: hsl(from hsl(243, 26%, 15%) h s l / 0.25);
  backdrop-filter: blur(12px);

  &::before,
  &::after {
    content: "";
    position: absolute;
    z-index: -1;
    inset: 0;
    border-radius: inherit;
    border: 3px solid transparent;
    background: linear-gradient(hsl(259, 13%, 28%), hsl(254, 22%, 32%)) border-box;
    mask: linear-gradient(black, black) border-box, linear-gradient(black, black) padding-box;
    mask-composite: subtract;
  }

  &::after {
    filter: blur(3.5rem);
  }

  &:hover::before {
    background: conic-gradient(
        from var(--border-rotation),
        var(--color-fuchsia-500),
        var(  --color-purple-600),
        var(--color-purple-800),
        var(  --color-purple-600),
        var(--color-fuchsia-500)
    );
    animation: 1500ms borderRotation linear infinite;
  }
}


.name {
  @apply text-2xl text-custom-4;
}

.description {
  @apply text-xl text-slate-500;
}

.technologies {
  @apply flex gap-2 flex-wrap;
}

.technology {
  @apply flex gap-2 items-center;
  @apply py-2 px-4 rounded-xl;
  @apply bg-stone-950;
  @apply border border-custom-2;
}

.technologyName {
  @apply text-base text-custom-4;
}

.technologyImage {
  @apply w-4 h-4 rounded-b-md;
}


