.wrapper {
  height: 100vh;
  @apply p-32;
  @apply bg-stone-950;
}

.content {
  @apply w-full;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.box {
  @apply flex flex-col justify-center gap-16;
}

.mainText {
  @apply text-custom-4 text-8xl;
}

.smallText {
  @apply text-yellow-300 text-2xl;
}