.wrapper {
  @apply w-8 bg-custom-1 rounded-2xl fixed top-0 right-4 translate-y-2/4 py-4;
  @apply flex justify-center items-center flex-col gap-3;
}

.dot {
  @apply w-4 h-4 rounded-full bg-custom-4;
}

.activeDot {
  @apply w-4 h-4 rounded-full bg-custom-3 shadow-lg shadow-custom-3;
  @apply absolute top-4;
  transition: transform 1000ms ease-in-out, translate 500ms ease-in-out;
  z-index: 1;
}

.line {
  @apply h-16 w-0.5 bg-custom-4;
}

@keyframes move {
  10% {
    transform: scaleY(1.5);
  }

  90% {
    transform: scaleY(1);
  }
}

.move {
  animation: move 1000ms ease-in-out;
}

